section.right {
    max-width: 60vh;
    width: 100%;
    padding: 1.4rem 1.4rem;
  }
  /* DIV VIDEO */
  .grid-4 {
    
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  
  /* DIV SHORTS */
  
  .grid-6 {
    margin-top: 30px;
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  
  .label a {
    margin-top: 30px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    color: #030303
  }
  
  
  .arrow-down {
    margin-top: 40px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .arrow-down:hover {
    background-color: #ECECEC;
  }

  /* Media Queries */

  @media (max-width: 1140px) {
  
    .grid-4 {
      
      
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
 
  
  @media (max-width: 1100px) {
    
   
  
  
    
    
    .grid-6 {
      gap: 15px;
      grid-template-columns: 1fr 1fr ;
    }
    
    
  }

  @media (max-width: 835px) {
  
    .grid-4 {
      
      margin-left: 10%;
      grid-template-columns: 1fr 1fr ;
    }
  }
  @media (max-width: 670px) {
  
    .grid-4 {
      
      margin-left: 5%;
      grid-template-columns: 1fr 1fr ;
    }
  }
  @media (max-width: 660px) {
  
    .grid-4 {
     
      grid-template-columns: 1fr  1fr;
    }
  }
  @media (max-width: 640px) {
  
    .grid-4 {
      margin-left: 1%;
      
    }
  }
  @media (max-width: 600px) {
    .grid-4 {
      margin-left: 0%;
      grid-template-columns: 1fr  
    }
    
  }