section.left  {
    margin-top: -42px;
    background-color: #fff;
    width: 31vh;
    display:  flex;
   
    
    flex-direction: column;
    
  }
  .guide-render {
    
    width: 100%;
    
    display: flex;
    flex-direction: column;
    
  }
  .guide-render h3 {
    margin-bottom: 5px;
    margin-left: 24px;
    color: #606060;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    
  }
  .channel a img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
  .channel a {
    
    padding: 7px 0px;
    margin-left: 24px;
    display: flex;
    align-items: center;
    gap: 23px;
  }
  
 .items {
  cursor: pointer;
 }
 
  .items a {
    margin-left: 16px;
    display: flex;
    gap: 24px;
    align-items: center;
    padding: 7px 0px;
  }
  .items:hover {
    background-color: #f3f3f3;
   
    
    
  }
  footer#footer {
    line-height: 1.1rem;
    font-size: 13px;
    color: #606060;
    margin-left: 24px;
    gap: 2px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
  }

/* Media Queries */

@media (max-width: 1312px) {

  section.left {

    width: 7%;
  }
  .d1 {
    gap: 30px;
  }
  .d1 .items {
 
    margin-right: 50%;
    align-items: center;
    
  }
  .d1 .items a {
    
    font-size: 10px;
    gap: 6px;
    display: flex;
    flex-direction: column;
  }
  
  footer#footer {
    display: none;
  }
  .d2,.d2,.d3,.d4,.d5,.d6,#line {
    display: none;
  }
}


@media (max-width: 800px) {
  section.left {

    display: none;
  }
}

