
#lineWatch {
    height: 0.2px;
    background-color: rgb(222, 222, 222)
}
.watch-container { 
    display: flex;
    flex-direction: column;
}
#watch-player {
    max-width: 953px;
    max-height: 535px;
    width: 953px;
    height: 535px;
} 

.watch-container #titleVideo {
    margin-top: 15px;
}
.info-video {
    display: flex;
    
    gap: 10px;
    margin-top: 15px;
}
.items {
    
    display: flex;
    gap: 10px;
    
}
.watch-container .timeline {
    display: flex;
    justify-content: space-between;
}
.timeline .signUp button {
    border-radius: 2px;
    outline: none;
    font-size: 14px;
    border: none;
    padding: 10px 16px;
    background-color: #c00;
    color: white;
    font-weight:500;
    cursor: pointer;
}
.channel {
    display: flex;
    gap: 20px; 
}
.channel .imgProfile img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.infoChannel {
    
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}
.infoChannel .nameProfile h1 {
    font-size: 14px;
}
.infoChannel .nameProfile span {
    font-size: 12px;
}

#icon-like {
    width: 20px;
}
#icon-dontLike {
    width: 15px;
}

.info-video a#items {
    font-size: 14px;
    font-weight: 500;
    color: #030303;
    gap: 10px;
    display: flex;
    align-items: center;
}
.views {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

a#showMore  {
    margin-top: 10px;
    color: #606060;
    font-weight: 500
}
.descriptionProfile span{
    color: #030303
}
.comments {
  
    margin-top: 30px;
}

/* Media Queries */

@media(max-width: 1416px) {
    #watch-player {
        width: 100%;
        height: 535px
    }
}

@media (max-width: 1230px) {
    #watch-player {
        width: 640px;
        height: 360px;
    }
    .info-video {
         flex-direction: column;
         width: 100%;
    }
}
@media(max-width: 1016px) {
    #watch-player {
        width: 100%;
        height: 535px
    }
}
@media(max-width: 906px) {
    #watch-player {
        width: 100%;
        height: 435px
    }
}
@media(max-width: 606px) {
    .descriptionProfile {
       width: 30px;
    }
    #watch-player {
        width: 100%;
        height: 285px
    }
}